/*
  ----------------------------------------------------------------
  Sections
  ----------------------------------------------------------------
  Body
  Blockquotes
  Code
  Divisions
  Equations (KaTeX)
  Footer
  Headings
  Images
  Interviews (Cynic's 7.30)
  Links
  Lists
  Navigation
  Noscript
  Page properties
  Romanisations
  SVG
  Tables
  Thought bubbles (Cynic's 7.30)
  Translation
  Vertical right-to-left script
  Whitespace
  
*/


/* ---------------------------------------------------------------- */
/* Body                                                             */
/* ---------------------------------------------------------------- */


/*
  Allow breaking of long URLs (overflow-wrap)
  Leave room at top for header navigation bar (padding)
*/

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
  padding: 2em 0.7em 0.7em;
}


/* ---------------------------------------------------------------- */
/* Blockquotes                                                      */
/* ---------------------------------------------------------------- */


/*
  Prevent floats sticking outside container (display)
*/

blockquote {
  background: #ffffce;
  border-left: 3px solid grey;
  clear: both;
  display: flow-root;
  padding: 0.6em 0.7em;
}


/* ---------------------------------------------------------------- */
/* Code                                                             */
/* ---------------------------------------------------------------- */


:not(pre) > code {
  border: 1px solid lightgrey;
  padding: 0.15em;
}


pre {
  border: 1px solid grey;
  overflow-x: auto;
  padding: 0.5em;
}


/* ---------------------------------------------------------------- */
/* Coloured spans                                                   */
/* ---------------------------------------------------------------- */


.colour-r {
  color: #e00000;
}

.colour-g {
  color: green;
}

.colour-b {
  color: blue;
}

.colour-v {
  color: darkviolet;
}


/* ---------------------------------------------------------------- */
/* Divisions                                                        */
/* ---------------------------------------------------------------- */


.centred-block {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.important {
  border: 2px solid black;
  margin: 0.7em;
  padding: 0.4em 0.5em;
}

.statement {
  text-align: center;
}

.overflowing {
  overflow-x: auto;
}


/* ---------------------------------------------------------------- */
/* Equations (KaTeX)                                                */
/* ---------------------------------------------------------------- */

/*
  Overflow display equations with horizontal scrolling (overflow-*)
  Prevent vertical clipping (margin-*, padding-*)
*/

.katex-display > .katex {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: -0.5em;
  padding-top: 0.5em;
  margin-bottom: -0.25em;
  padding-bottom: 0.25em;
}

/*
  Style equations in case JavaScript is not enabled
  Vertical margin and centring for display equations (margin-*, text-align)
  Prevent vertical padding from .important (padding)
*/

.js-maths {
  font-family: monospace;
}

div.js-maths {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1em;
  text-align: center;
}

/*
  Reduce effective vertical padding from .important
*/

.important > .katex-display {
  margin: 0.5em 0;
}

/* ---------------------------------------------------------------- */
/* Footer                                                           */
/* ---------------------------------------------------------------- */


footer {
  border-top: 2px solid black;
  font-size: small;
  margin-top: 1.5em;
  padding-top: 0.5em;
}


/* ---------------------------------------------------------------- */
/* Headings                                                         */
/* ---------------------------------------------------------------- */


h1 {
  font-size: 1.7em;
  margin: 0.5em auto;
}

h2 {
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}


/* ---------------------------------------------------------------- */
/* Images                                                           */
/* ---------------------------------------------------------------- */


img {
  align-self: center;
  max-width: 100%;
  height: auto;
}


/* ---------------------------------------------------------------- */
/* Interviews (Cynic's 7.30)                                        */
/* ---------------------------------------------------------------- */


/*
  Prevent floats sticking outside container (display)
*/

.interview {
  font-size: large;
  display: flow-root;
  margin: 0 auto 1em;
  max-width: 30em;
}

img.host, img.guest {
  border: 5px solid;
  clear: both;
  display: block;
  margin-bottom: 0.25em;
  max-width: 30%;
}

.interview > img + p {
  padding-top: 0.7em;
}

img.host {
  border-color: blue;
  float: left;
  margin-right: 0.75em;
}
p.host {
  clear: right;
}
.host {
  color: blue;
}

img.guest {
  border-color: black;
  float: right;
  margin-left: 0.75em;
}
p.guest {
  clear: left;
}

p.thought-bubble {
  padding: 0.7em;
}

/* Marker (Excerpt, END, etc.) */

.marker {
  text-align: center;
}

.start {
  margin-bottom: 1.3em;
}

.end {
  clear: both;
  font-size: x-large;
  margin-top: 0.5em;
}


/* ---------------------------------------------------------------- */
/* Links                                                            */
/* ---------------------------------------------------------------- */


/* Placeholder links, i.e. anchor elements without an href attribute */

a:not([href]) {
  color: #545454;
}


/* External link icon */

a[href^="http"]:not([href^="https://github.com/yawnoc/yawnoc.github.io"]) {
  background-image: url(/resources/styles/external-link.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 0.6em;
  padding-right: 0.67em;
}


/* Heading permalinks */

h2 > .permalink {
  background-image: url(/favicon-32x32.png);
}

.permalink {
  background-image: url(/resources/styles/permalink.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}


/* No underline except on hover */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* ---------------------------------------------------------------- */
/* Lists                                                            */
/* ---------------------------------------------------------------- */


li {
  margin-bottom: 0.2em;
}

li > ul {
  margin: 0.4em 0;
}


ol {
  padding-left: 2em;
}


ul {
  padding-left: 1.5em;
}


/* ---------------------------------------------------------------- */
/* Navigation                                                       */
/* ---------------------------------------------------------------- */


/*
  Fixed-header navigation bar (position)
  Fix navigation bar not covering KaTeX equations (z-index)
    https://github.com/KaTeX/KaTeX/issues/631
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

nav {
  background: #ffffcc;
  border: 1px solid black;
  margin: 1em 0.5em;
}
header > nav {
  background: #ffff66;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header > nav > ul {
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
}

nav > ul > li {
  margin: 0.2em 0.6em;
}

nav > ul > li > a {
  font-size: 0.9em;
  font-weight: bold;
}

/* Sun Tzu navigation-bar breadcrumb links */

.breadcrumb {
  margin-left: 0;
}

.breadcrumb::before {
  content: ">";
  margin-right: 0.5em;
}

/* Sun Tzu surrounds navigation */

.surrounds {
  padding: 0.2em;
  text-align: center;
}

.adjacent {
  align-items: center;
  display: flex;
}

.current  {
  margin-top: 0.1em;
  font-size: 1.3em;
}

.previous {
  flex: 1;
  text-align: left;
}

.next {
  flex: 1;
  text-align: right;
}

/*
  Leave room at top for navigation bar when following anchor links
    https://stackoverflow.com/a/28824157
*/

:target::before {
  content: "";
  display: block;
  height: 2.5rem;
  margin: -2.5rem 0 0;
}



/* ---------------------------------------------------------------- */
/* Noscript                                                         */
/* ---------------------------------------------------------------- */


noscript {
  color: crimson;
}



/* ---------------------------------------------------------------- */
/* Page properties                                                  */
/* ---------------------------------------------------------------- */


.page-properties {
  font-family: monospace;
  font-size: small;
}



/* ---------------------------------------------------------------- */
/* Romanisations                                                    */
/* ---------------------------------------------------------------- */


.initial {
  font-weight: bold;
}

.pre-merger {
  color: darkviolet;
}

.post-merger {
  color: green;
}

/* Bracketed original Chinese after romanisations */

.original-chinese {
  color: #ce0000;
}

.original-chinese::before {
  content: '(';
}

.original-chinese::after {
  content: ')';
}



/* ---------------------------------------------------------------- */
/* SVG                                                              */
/* ---------------------------------------------------------------- */


/* SVG styles which do not take up space */

.embedded-styles {
  height: 0;
  width: 0;
  position: absolute;
}


/* ---------------------------------------------------------------- */
/* Tables                                                           */
/* ---------------------------------------------------------------- */


table {
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  background-color: #ececec;
}

th, td {
  border: 1px solid black;
  padding: 0.4em;
}

/* Centred merged cells */

.merged-cell {
  text-align: center;
}


/* ---------------------------------------------------------------- */
/* Thought bubbles (Cynic's 7.30)                                   */
/* ---------------------------------------------------------------- */


@font-face {
  font-display: swap;
  font-family: 'Comic_Neue';
  src:
    url('/resources/fonts/ComicNeue-Regular.woff2') format('woff2'),
    url('/resources/fonts/ComicNeue-Regular.woff') format('woff'),
    url('/resources/fonts/ComicNeue-Regular.ttf') format('truetype');
}

.thought-bubble {
  background: #fff4f7;
  font-family: 'Comic_Neue', sans-serif;
}


/* ---------------------------------------------------------------- */
/* Translation                                                      */
/* ---------------------------------------------------------------- */


/* Translator-supplied words */
.translator-supplied {
  color: #717171;
}

/* Parallel text */

.parallel-text {
  border: 2px solid black;
  font-size: large;
  margin: 0.7em;
  padding: 0.4em 0.5em;
}

.parallel-text > :not(:first-child) {
  border-top: 1px solid black;
  margin-top: 0.3em;
  padding-top: 0.3em;
}

li > .parallel-text {
  font-size: 0.9em;
  border-width: 1px;
}

.front-matter, .back-matter {
  font-size: medium;
}

/* Translation-alternative markers ("or", "lit.", etc.) */

.alternative-marker {
  color: #666;
  font-family: Palatino, Georgia, serif;
}

/* Annotation lists */

.parallel-text + ul {
  margin: 0.7em;
}


/* ---------------------------------------------------------------- */
/* Vertical right-to-left script                                    */
/* ---------------------------------------------------------------- */


.vertical-rtl {
  writing-mode: vertical-rl;
}



/* ---------------------------------------------------------------- */
/* Whitespace                                                       */
/* ---------------------------------------------------------------- */

.no-wrapping {
  white-space: nowrap;
}

