:root{
  --body-padding-horizontal: 1rem;
  --html-max-width: 44rem;
}


a:not([href]) { /* placeholder links */
  color: #545454;
}
a[href^="http"]:not(
  [href^="https://github.com/yawnoc/yawnoc.github.io"]
):not(
  [href^="https://yawnoc.github.io/"]
)
{
  background-image: url(/resources/styles/external-link.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 0.6em;
  padding-right: 0.67em;
}
nav > ul > li > a {
  font-weight: bold;
}


blockquote {
  background: #ffffce;
  border-left: 3px solid grey;
  clear: both;
  display: flow-root;
  padding: 0.6em 0.7em;
}


body {
  background: white;
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
    /* allow breaking of long URLs */
  padding: 2rem var(--body-padding-horizontal) 0.7rem;
    /* leave room at top for header navigation bar */
}


:not(pre) > code {
  border: 1px solid lightgrey;
  padding: 0.15em;
}


footer {
  border-top: 2px solid black;
  font-size: 0.9rem;
  margin-top: 1.5em;
  padding-top: 0.5em;
}


header {
  position: fixed;
  top: 0;
  width: 100vw;
}
body > header {
  margin-left: calc(-1 * var(--body-padding-horizontal));
  max-width: var(--html-max-width);
}


h1 {
  font-size: 1.7rem;
  margin: 0.75em auto;
}


h2 {
  font-size: 1.4rem;
  margin-top: 1.5em;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}


html {
  background: #cde;
  margin: 0 auto;
  max-width: var(--html-max-width);
  scroll-padding-top: 3rem;
    /* header navigation bar clearance */
}


img {
  align-self: center;
  max-width: 100%;
  height: auto;
}


li {
  margin-bottom: 0.5em;
}
footer > ul > li {
  margin-bottom: 0;
}
nav > ul > li {
  margin: 0.33em 0.66em;
}


nav {
  background: #ffffcc;
  border: 1px solid black;
  margin: 1em 0.5em;
}
header > nav {
  background: #ffff66;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
}


ol {
  padding-left: 2em;
}
li > ol {
  margin: 0.4em 0 0.45em;
}


footer > p {
  margin: 0.4em 0;
}
.translation-annotations > li > p {
  margin: 0.3em 0;
}


pre {
  border: 1px solid grey;
  overflow-x: auto;
  padding: 0.5em;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}


th {
  background-color: #ececec;
}


th, td {
  border: 1px solid black;
  padding: 0.4em;
}


ul {
  padding-left: 2em;
}
li > ul {
  margin: 0.4em 0 0.45em;
}
footer > ul {
  margin: 0.4em 0;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header > nav > ul {
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
}


.alternative-marker {
  color: #444;
  font-family: Palatino, Georgia, serif;
}


.centred {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}


.noscript {
  color: crimson;
}


.parallel-text > .destination-text {
  border-top: 1px solid black;
  margin-top: 0.3em;
  padding-top: 0.3em;
}


.parallel-text, .example {
  border: 2px solid black;
  font-size: large;
  margin: 0.7em;
  padding: 0.4em 0.5em;
}


.permalink {
  background-image: url(/resources/styles/permalink.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
h2 > .permalink {
  background-image: url(/yawnoc.svg);
  background-size: 1.2em;
  padding-left: 1.65em;
}


.romanised-untranslated {
  text-decoration: underline 0.1em dotted;
}


.translator-supplied {
  color: #595959;
}


.wide {
  overflow-x: auto;
}
