:root{
  --body-padding-horizontal: 1rem;
  --html-max-width: 44rem;
}

a:not([href]) { /* placeholder links (i.e. without href) */
  color: #545454;
}
nav > ul > li > a {
  font-size: 0.9em;
  font-weight: bold;
}

body {
  background: white;
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
    /* allow breaking of long URLs */
  padding: 2rem var(--body-padding-horizontal) 0.7rem;
    /* leave room at top for navigation bar */
}

footer {
  border-top: 2px solid black;
  font-size: 0.9rem;
  margin-top: 1.5em;
  padding-top: 0.5em;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
}
body > header {
  margin-left: calc(-1 * var(--body-padding-horizontal));
  max-width: var(--html-max-width);
}

h1 {
  font-size: 1.7rem;
  margin: 0.5em auto;
}

h2 {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

html {
  background: #cde;
  margin: 0 auto;
  max-width: var(--html-max-width);
}

li {
  margin-bottom: 0.3em;
}

nav > ul > li {
  margin: 0.2em 0.6em;
}

nav {
  background: #ffffcc;
  border: 1px solid black;
  margin: 1em 0.5em;
}
header > nav {
  background: #ffff66;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
}

ol {
  padding-left: 2em;
}

ul {
  padding-left: 2em;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header > nav > ul {
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
}
